name: PHPUnit Tests

on:
  push:
  pull_request:

jobs:
  phpunit:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [ '7.4', '8.0', '8.1', '8.2' ]
        wp:  [ 'latest' ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, mysqli
          coverage: none
          tools: phpunit

      - name: Install WordPress Test Suite
        run: |
          bash <(curl -s https://raw.githubusercontent.com/wp-cli/scaffold-command/master/templates/install-wp-tests.sh) \
            wpum_test root '' localhost ${{ matrix.wp }}

      - name: Run PHPUnit
        env:
          WP_TESTS_DIR: /tmp/wordpress-tests-lib
        run: |
          phpunit --configuration phpunit.xml.dist
